<div class="flex-box" (click)="doClick()">
  <i class="iconfont {{classType}} primary-color margin-right-5"></i>
  <div style="text-align: center">
    <p>{{text}}<p>
  </div>
</div>



<!--<div class="operation-item">icon-share-->
  <!--<i class="iconfont icon-share"></i>&nbsp;&nbsp;分享-->
<!--</div>-->
<!--<div class="operation-item">-->
  <!--<i class="iconfont icon-31pinglun"></i>&nbsp;&nbsp;评论-->
<!--</div>-->
<!--<div class="operation-item">-->
  <!--<i class="iconfont icon-zantong"></i>&nbsp;&nbsp;点赞-->
<!--</div>-->
